.p-positon-r{
  position: relative;
}
.p-positon-auto{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.public-title-margin {
  margin: 14px 0;
}
.medical-color {
  color: #00cccc;
}
.content-color {
  color: #1d1d1f;
}