.section-title {
  color: whitesmoke;
}
.section-title-dark {
  color: #32353d;
}
.section-radius {
  border-radius: 4px;
}
.section-underline-style{
  border-bottom: 1px solid;
  width: 50px;
  border-bottom-width: 3px;
  border-bottom-color: #1e82e8;
}
.section-underline-blue{
  border-bottom: 2px solid;
  width: 60px;
  border-bottom-width: 4px;
  border-bottom-color: #82eafa;
  // border-bottom-color: #6aeaff;
}
.f-text-color{
  color: #444444;

}
.section-content-size {
  color: #888888;
  font-size: 15px;
}
.sandtable-section {
  padding: 50px 20px 40px;
  width: 100%;
}
.section-bgc-color {
  background-color: #f0f3f7;
}
.section-bgc-gray {
  background-color: #f8f9fa;
}
.title-lighter{
  font-weight: 400;
}
