/* My-SmileySans fot Title
@font-face {
  font-family: "SmileySans";
  src: url("./My-font/SmileySans.ttf");
  font-display: swap;
}
@font-face {
  font-family: "SourceHanSansCN";
  src: url("./My-font/SourceHanSansCN.ttf");
  font-display: swap;
}


@font-face {
  font-family: "SourceHanSansHWSC-VF";
  src: url("./My-font/SourceHanSansHWSC-VF.otf.woff2");
  font-display: swap;
}
*/
/* My-SourceHanSansCN for Content 思源黑*/
@font-face {
  font-family: "SourceHanSansSC-VF";
  src: url("./My-font/SourceHanSansSC-VF.ttf.woff2");
  font-display: swap;
}


@font-face {
  font-family: "SmileySans-Oblique";
  src: url("./My-font/SmileySans-Oblique.ttf.woff2");
  font-display: swap;
}


.font-title {
  font-family: 'SmileySans-Oblique';
  font-weight: 100
}



.font-text {
  font-family: 'SourceHanSansSC-VF';
  font-weight: 400;
}